<!-- jQuery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Bootstrap JS CDN -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- Popper.js CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>

<!-- GitHub Buttons -->
<script src="https://buttons.github.io/buttons.js"></script>

<!-- wow.js CDN & Activation -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
<script> new WOW().init(); </script>

<!-- Initialize all tooltips -->
<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>

<!-- Comments -->
  <script src="{{ '/assets/js/lazysizes.min.js' | relative_url }}"></script>

<script>
  // Static comments
$(function() {
    $("#comment-form").submit(function() {
        var form = this;

        $(form).addClass("disabled");
        $("#comment-form-submit").html(
        'Sending...'
        );

        $.ajax({
        type: $(this).attr("method"),
        url: $(this).attr("action"),
        data: $(this).serialize(),
        contentType: "application/x-www-form-urlencoded",
        success: function(data) {
            $("#comment-form-submit")
            .html("Submitted")
            .addClass("btn--disabled");
            $("#respond .js-notice")
            .removeClass("danger")
            .addClass("success");
            $("#respond form").hide()[0].reset();
            showAlert(
                '<strong>Thanks for your comment!</strong><br>It is <a href="https://github.com/friyaz/friyaz.github.io/pulls">currently pending</a> and will show on the site once approved. You will be notified if your comment is approved.'
            );
        },
        error: function(err) {
            console.log(err);
            $("#comment-form-submit").html("Submit Comment");
            $("#respond .js-notice")
            .removeClass("success")
            .addClass("danger");
            showAlert(
                "<strong>Sorry, there was an error with your submission.</strong><br>Please make sure all required fields have been completed and try again."
            );
            $(form).removeClass("disabled");
        }
        });

        return false;
    });
});

function showAlert(message) {
    $("#respond .js-notice").removeClass("hidden");
    $("#respond .js-notice-text").html(message);
}

function hideAlert() {
    $("#respond .js-notice").addClass("hidden");
    $("#respond .js-notice-text").html("");
}

// Staticman comment replies
// modified from Wordpress https://core.svn.wordpress.org/trunk/wp-includes/js/comment-reply.js
// Released under the GNU General Public License - https://wordpress.org/about/gpl/
var addComment = {
    moveForm: function(commId, parentId, respondId, postId) {
        $("#respond form").show();
        hideAlert();
        var div,
        element,
        style,
        cssHidden,
        t = this,
        comm = t.I(commId),
        respond = t.I(respondId),
        cancel = t.I("cancel-comment-reply-link"),
        parent = t.I("comment-replying-to"),
        post = t.I("comment-post-slug"),
        commentForm = respond.getElementsByTagName("form")[0];

        if (!comm || !respond || !cancel || !parent || !commentForm) {
            return;
        }

        t.respondId = respondId;
        postId = postId || false;

        if (!t.I("sm-temp-form-div")) {
            div = document.createElement("div");
            div.id = "sm-temp-form-div";
            div.style.display = "none";
            respond.parentNode.insertBefore(div, respond);
        }

        comm.parentNode.insertBefore(respond, comm.nextSibling);
        if (post && postId) {
            post.value = postId;
        }
        parent.value = parentId;
        cancel.style.display = "";

        cancel.onclick = function() {
            var t = addComment,
                temp = t.I("sm-temp-form-div"),
                respond = t.I(t.respondId);

            if (!temp || !respond) {
                return;
            }

            t.I("comment-replying-to").value = null;
            temp.parentNode.insertBefore(respond, temp);
            temp.parentNode.removeChild(temp);
            this.style.display = "none";
            this.onclick = null;
            return false;
        };

        /*
        * Set initial focus to the first form focusable element.
        * Try/catch used just to avoid errors in IE 7- which return visibility
        * 'inherit' when the visibility value is inherited from an ancestor.
        */
        try {
            for (var i = 0; i < commentForm.elements.length; i++) {
                element = commentForm.elements[i];
                cssHidden = false;

                // Modern browsers.
                if ("getComputedStyle" in window) {
                style = window.getComputedStyle(element);
                // IE 8.
                } else if (document.documentElement.currentStyle) {
                style = element.currentStyle;
                }

                /*
                * For display none, do the same thing jQuery does. For visibility,
                * check the element computed style since browsers are already doing
                * the job for us. In fact, the visibility computed style is the actual
                * computed value and already takes into account the element ancestors.
                */
                if (
                (element.offsetWidth <= 0 && element.offsetHeight <= 0) ||
                style.visibility === "hidden"
                ) {
                cssHidden = true;
                }

                // Skip form elements that are hidden or disabled.
                if ("hidden" === element.type || element.disabled || cssHidden) {
                continue;
                }

                element.focus();
                // Stop after the first focusable element.
                break;
            }
        } catch (er) {}

        return false;
    },

    I: function(id) {
        return document.getElementById(id);
    }
};

</script>  

<!-- Javascript fro sytax highlisghting using prism -->
  <script src="{{ '/assets/js/prism.js' | relative_url }}"></script>


<!-- Scroll progress bar -->
<script type="text/javascript">
  document.addEventListener(
    "scroll",
    function() {
      var scrollTop = document.documentElement["scrollTop"] || document.body["scrollTop"];
      var scrollBottom = (document.documentElement["scrollHeight"] ||
      document.body["scrollHeight"]) - document.documentElement.clientHeight;
      scrollPercent = scrollTop / scrollBottom * 100 + "%";
  document
    .getElementById("_progress")
    .style.setProperty("--scroll", scrollPercent);
},
{ passive: true }
);  
</script>
